@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0B2447;
  --color-secondary: #D21312;
  --color-accent: #FFFFFF;
  --color-background: #F8F9FA;
}

body {
  background-color: var(--color-background);
  color: #333;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 30s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}

